:root {
    --bg-color: #121212;
    --text-color: #ffffff;
    --text-hover: #919090;
    --card-bg: #1e1e1e;
    --card-border: #333333;
}
body.light {
    --bg-color: #f4f4f4;
    --text-color: #000000;
    --text-hover: #4d4d4d;
    --card-bg: #ffffff;
    --card-border: #cccccc;
}

* {
    font-family: sans-serif;
    color: var(--text-color);
}

body {
    background: var(--bg-color);
}

#c {
    border: 1px solid var(--card-border);
    background-color: #333;
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--card-border);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    right: 10px;
}

button:hover {
    background-color: var(--card-border);
}

.canvasContainer {
    display: flex;
    flex-direction: row;
    max-height: 400px;
}

.controls {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.controls p {
    border-bottom: 2px solid var(--text-color);
}

.controls a {
    margin-top: 5px;
    margin-left: 5px;
    color: var(--text-color);
    user-select: none;
}

.controls a:hover {
    color: var(--text-hover);
}

#shapeDropdownMenu, #displayDropdownMenu {
    display: none;
}

#shapeDropdown:hover #shapeDropdownMenu {
    display: block;
}

#displayDropdown:hover #displayDropdownMenu {
    display: block;
}

.selected {
    border: 2px solid var(--text-color);
}