body {
    background: #333;
}

#c {
    border: 2px solid black;
    background: skyblue;
}

#score {
    position: fixed;
    margin: 20px;
    font-family: sans-serif;
    font-size: 20px;
}

#highScore {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.homebutton {
    color: white;
    font-family: sans-serif;
}