:root {
    --bg-color: #121212;
    --text-color: #ffffff;
    --card-bg: #1e1e1e;
    --card-border: #333333;
}
body.light {
    --bg-color: #f4f4f4;
    --text-color: #000000;
    --card-bg: #ffffff;
    --card-border: #cccccc;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--bg-color);
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--card-border);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--card-border);
}

p {
    padding-top: 40px;
    text-align: center;
    color: var(--text-color);
}

#website {
    width: 100vw;
    height: 80vh;
    border: none;
}

#newSiteButton {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background: red;
    border: darkred 2px solid;

}

#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}